---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Frontend developer Alexey Chekhotskiy"
	pubDate={new Date('August 08 2023')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		I'm a Frontend Developer focused on visual perfection and optimization. 
		Passionate about problem-solving, I actively seek new ways to improve, and am committed to quality. 
		Engaging in innovative thinking, I work towards the efficiency of the final code without losing the quality of the visuals or functionality.
	</p>

	<h2>Skills</h2>
	<p><b>Languages:</b> HTML5, CSS3, JavaScript, TypeScript</p>
	<b>Technologies:</b>
	<ul>
		<li><b>Frontend:</b>React.js, Next.js</li>
		<li><b>UI frameworks:</b> Ant design, Material UI</li>
		<li><b>State manager:</b> Redux</li>
		<li><b>Webpack, Rest API, Docker, Git, CI/CD(Github actions)</b></li>
		<li><b>Testing tools:</b> Jest, React testing library, Storybook, Loki js for storybook screenshot testing, Puppeteer for e2e testing</li>
	</ul>
</Layout>
